@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --radius: 0.625rem;
  --color-background: oklch(1 0 0); /* Bianco */
  --color-foreground: oklch(0.25 0.12 140); /* Verde scuro */
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.25 0.12 140);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.25 0.12 140);
  --color-primary: oklch(0.97 0.05 10); /* Rosa tenue */
  --color-primary-foreground: oklch(0.8 0.2 85); /* Oro chiaro */
  --color-secondary: oklch(0.75 0.1 140); /* Verde salvia */
  --color-secondary-foreground: oklch(0.25 0.12 140);
  --color-muted: oklch(0.97 0.05 10);
  --color-muted-foreground: oklch(0.556 0 0);
  --color-accent: oklch(0.75 0.1 140);
  --color-accent-foreground: oklch(0.25 0.12 140);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-border: oklch(0.922 0 0);
  --color-input: oklch(0.922 0 0);
  --color-ring: oklch(0.708 0 0);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-quattrocento); /* Default font for body */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair); /* Headings font */
}

/* Stile per i bottoni */
.material-button {
  background-color: var(--color-primary);
  color: var(--color-foreground);
  border: none;
  border-radius: 24px;
  padding: 10px 24px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1px;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.material-button:active {
  background-color: var(--md-sys-color-primary);
  box-shadow: 0 0 0 4px rgba(103, 80, 164, 0.3);
}


/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
}

.swiper {
  width: 100%;
}

/* navigation */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  color: white;
  font-size: 18px !important;
  position: absolute;
}

.swiper-button-prev::after {
  left: -2px !important;
}

.swiper-button-next::after {
  right: -2px !important;
}

/* Outer swiper container */
.marquee-swiper .swiper-wrapper {
  transition-timing-function: linear; /* Smooth linear transition */
  height: auto;
}

.marquee-swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
